
<a class="ui button" [routerLink]="['/bugs']">
<i class="angle double left icon"></i>Back
</a>

  <div class="ui segment">
     
      <div class="ui right internal attached rail">
        <div class="ui segment">
          severity: {{bug.severity}}
        </div>
      </div>
      <div class="ui raised very padded text container segment">
      <h2 class="ui header">{{bug.title}}</h2>
    <p>{{bug.body}}</p>
    <p></p>
  
    <div *ngIf ="bug.createdBy; then content else anotherContent"></div>
    <ng-template #content>
        {{bug.createdBy}}
    </ng-template>
    <ng-template #anotherContent>
      No hay informacion
    </ng-template>
  
  </div>
    </div>