

<div class="ui top attached demo menu">
    <a class="item">
      <i class="sidebar icon"></i>
      Menu
    </a>
    <div class="right menu">
            <a href="" class="item" (click)="exit()" ><i class="power icon"></i></a>
        </div>
  </div>
  <div class="ui bottom attached segment pushable">
    <div class="ui inverted labeled icon left inline vertical sidebar menu">
      <a class="item" [routerLink]="['/welcome']">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item" [routerLink]="['/bugs']">
        <i class="block bug icon" ></i>
        Bugs
      </a>
     
    </div>
    <div class="pusher">
      <div class="ui basic segment">
        <router-outlet></router-outlet>
      </div>
    </div>

   
  </div>

 