<p>
  welcome {{model.name}} {{model.lastname}}!
</p>

<div class="ui input">
<input  type="text" [(ngModel)]="model.name"/>{{model.name.lenght}}
<input type="text" [(ngModel)]="model.lastname"/>
  <div class="ui checkbox">
    <input type="checkbox" [(ngModel)]="model.gender"/>
    <label>Gender</label>
  </div>

</div>

<button class="ui button" (click)="clicked()">Click me!</button>

<div [ngClass]="{'femenino':model.gender, 'masculino':!model.gender}">
<div *ngIf="model.gender">FEMENINO</div>
<div *ngIf="!model.gender">MASCULINO</div>
</div>

<button class="ui button basic" (click)="addItem()">add</button>
<button class="ui button basic" (click)="removeItem()">Remove Item</button>


<ul *ngFor="let item of array; let i = index">
  <li (click)="selectedItem(item)">{{item}}&nbsp;{{i}}</li>
</ul>

<pre>
  {{model | json}}
</pre>


